.title{
  position: absolute;
  font-size: 6rem;
  font-weight:800;
  text-transform:uppercase;
  text-shadow: 3px 3px 2px #2a2017;
}

.description{
  position: absolute;
  font-size: 1.25rem;
  width: 450px;
  font-weight:400;
}
.firstTitle{
  top: 20vh;
  left: 21.5rem;
}
.firstDescription{
  top:40vh;
  left: 21.5rem;
}
.secondTitle{
  top: 115vh;
  left: 55vw;
}

.secondDescription{
  top: 135vh;
  left: 55vw;
}

.thirdTitle{
  top: 205vh;
  left: 25.5rem;
}
.thirdDescription{
  top: 225vh;
  left: 25.5rem;
}
.fourthTitle{
  top: 301vh;
  left: 55vw;
}
.fourthDescription{
  top: 322vh;
  left: 55vw;
}
.fifthTitle{
  top: 395vh;
  left: 25.5rem;
}
.fifthDescription{
  top: 415vh;
  left: 25.5rem;
}

@media screen and (max-width: 480px) {

.title{
  font-size: 3rem;
  left: 25vw;
}

.description{
  font-size: 0.75rem;
    width:300px;
    text-align:center;
}
.firstTitle{
  top: 5vh;
}
.firstDescription{
  top:80vh;
  left: 15vw;
}
.secondTitle{
  top: 100vh;
    left:20vw;
}

.secondDescription{
  top: 175vh;
  left: 15vw;
}

.thirdTitle{
  top: 190vh;
  left: 30vw;
}
.thirdDescription{
  top: 265vh;
  left: 4rem;
}
.fourthTitle{
  top: 285vh;
  left: 15vw;
}
.fourthDescription{
  top: 358vh;
  left: 15vw;
}
.fifthTitle{
  top: 380vh;
  left: 5.5rem;
}
.fifthDescription{
  top: 455vh;
  left: 3.5rem;
}
}


