.title{
  position: absolute;
  font-size: 6rem;
  font-weight:800;
  text-transform:uppercase;
  text-shadow: 3px 3px 2px #2a2017;
}

.description{
  position: absolute;
  font-size: 1.25rem;
  width: 450px;
  font-weight:400;
}
.firstTitle{
  top: 20vh;
  left: 21.5rem;
}
.firstDescription{
  top:40vh;
  left: 21.5rem;
}
.secondTitle{
  top: 115vh;
  left: 55vw;
}

.secondDescription{
  top: 135vh;
  left: 55vw;
}

.thirdTitle{
  top: 205vh;
  left: 25.5rem;
}
.thirdDescription{
  top: 225vh;
  left: 25.5rem;
}
.fourthTitle{
  top: 301vh;
  left: 55vw;
}
.fourthDescription{
  top: 322vh;
  left: 55vw;
}
.fifthTitle{
  top: 395vh;
  left: 25.5rem;
}
.fifthDescription{
  top: 415vh;
  left: 25.5rem;
}


